/bsdthinkpad
*.o
*.core
/bsdthinkpad-mute-led
/libbsdthinkpad-plugin.so
/bsdthinkpad.desktop
/org.bsdthinkpad.mute-led.policy
/contrib/bsdthinkpad.conf
/contrib/bsdthinkpad-key
/contrib/bsdthinkpad-setup
/*.tar.gz
/man/*.[18]
/tmp/
