[Xfce Panel]
Type=X-XFCE-PanelPlugin
Encoding=UTF-8
Name=ThinkPad Controls
Comment=Brightness, speaker mute and microphone mute on FreeBSD
Icon=display-brightness-symbolic
X-XFCE-Module=bsdthinkpad-plugin
X-XFCE-Internal=false
X-XFCE-Unique=true
X-XFCE-API=2.0
